/* top caraousel */
.carausal-container{
  max-width: 600px;
  padding: 20px;
}
.movie-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.movie-card img{
  max-width: 100%;
   height: auto;
  height: 600px;
  object-fit:cover;
  border-radius: 5px;
margin-bottom: 10px;
}
.movie-info{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
  color: white;
}
.movie-info h3{
  margin: 0;
  font-size: 18px;
  /* margin-bottom:5px ; */
}
.movie-info p{
  font-size: 14px;
  margin: 0;
}
.navigation{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-button{
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  padding: 8px 8px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease;

}